.information {
    margin-bottom: 10px;
}

.information,
.product {
    border: 1px solid $primaryColor;
    border-radius: 5px;
    padding: 5px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin: 5px;
}

.product {
    margin-bottom: 5px;
}

.table {
    width: 100%;
}


.products-enter-active {
    transition: transform 0.35s ease-out, opacity 0.28s ease-out;
  }
  
  .products-leave-active {
    transition: transform 0.35s ease-in, opacity 0.28s ease-in;
  }
  
.products-enter-from,
.products-leave-to {
  transform: translateY(-30px) scale(0.96);
  opacity: 0;
}