.main-button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 100%;
  margin: 0;
  padding: 5px 0;
  border: 1px solid $primaryColor;
  border-radius: 4px;
  cursor: pointer;
}

.main-button:hover {
  background-color: $secondaryColor;
  border: 1px solid $secondaryColor;
  transition: 0.3s;
}

.main-button.primaria:hover {
  color: #333;
}

.main-button.secundaria:hover {
  color: #fff;
  border: 1px solid $secondaryColor;
  transition: 0.5s;
}

.primaria {
  max-width: 100%;
  margin: 0;
  background-color: $primaryColor;
  color: #fff;
  border: 1px solid $primaryColor;
  border-radius: 4px;
}

.secundaria {
  max-width: 100%;
  margin: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid $primaryColor;
  border-radius: 4px;
}
