.button-style{
    margin: 5px;
}

button {
    width: 100%;

    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: $secondaryColor;
    border: 1px solid $secondaryColor;
    transition: .3s;
}

button.secundaria:hover{
    color: #fff;
    border: 1px solid $secondaryColor;
    transition: .5s;
}

.primaria {
    background-color: $primaryColor;
    color: #fff;
    border: 1px solid $primaryColor;
}

.secundaria {
    background-color: #fff;
    color: #333;
    border: 1px solid $primaryColor;
}