@mixin border-style($color) {
  background-color: $color;
  border: 1px solid $color;
}

%transition {
  transition: 0.3s;
}

.main-button {
  @extend %u-centered, %u-full-width, %u-no-margin;
  @include border-style($primaryColor);

  padding: 5px 0;
  border-radius: 4px;
  cursor: pointer;
}

.main-button:hover {
  @include border-style($secondaryColor);
  @extend %transition;
}

.main-button .primaria:hover {
  color: #333;
  @extend %transition;
}

.main-button.secundaria:hover {
  @extend %transition;
  @include border-style($secondaryColor);
  color: var(--ligth-color);
}

.primaria {
  max-width: 100%;
  margin: 0;
  background-color: $primaryColor;
  color: var(--ligth-color);
  @include border-style($primaryColor);
  border-radius: 4px;
}

.secundaria {
  max-width: 100%;
  margin: 0;
  background-color: var($primaryColorFont);
  color: #333;
  border: 1px solid $primaryColor;
  border-radius: 4px;
}
