.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin: 0 5px;
}

select {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid $primaryColor;
    outline: none;
    box-sizing: border-box;    
}

option {
    background: #fff;
}