.card {
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px 0;
    box-shadow: 1px 1px 1px 1px $primaryColor;
}

.content {
    display: flex;
    flex-direction: row;
}

.image img {
    width: 60px;
    margin: 5px;
}

.resume {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.details > span:last-child {
    font-weight: bold;
}

footer {
    background-color: $secondaryColor;
    margin-top: 2px;
    padding: 2px;
    cursor: pointer;
}
