.float-button {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primaryColor;
    color: $primaryColorFont;
    transition: 0.5s;
    cursor: pointer;
    z-index: 1000;
}

.float-button:hover {
    background-color: $secondaryColor;
}

.plus-icon {
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(14%) hue-rotate(307deg)
        brightness(105%) contrast(105%);
}
