body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1;
  }

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    max-width: 98%;
    background-color: $backgroudColorContainer;

  }