html,
body {
  max-width: 100%;
}

.main-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: $backgroudColorContainer;
}

@media screen and (max-width: 375px) {
  .main-container {
    margin: 5px;
    padding: 5px;
  }
}
